// Fonts
$youngSerif: 'YoungSerif', sans-serif;
$outfit: 'Outfit', sans-serif;

// Size of Media Queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores 
$nutmeg: hsl(14, 45%, 36%);
$darkRaspberry: hsl(332, 51%, 32%);

$white: hsl(0, 0%, 100%);
$roseWhite: hsl(330, 100%, 98%);
$eggsHell: hsl(30, 54%, 90%);
$lightGrey: hsl(30, 18%, 87%);
$wengeBrown: hsl(30, 10%, 34%);
$darkCharcoal: hsl(24, 5%, 18%);